/* css reset */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

h1 {
  color: #ffffff; }

h2 {
  color: #ffffff; }

p {
  color: #ffffff; }

ul {
  color: #ffffff; }

li {
  color: #ffffff; }

a {
  color: #ffffff; }

.background__imagen__home {
  position: relative;
  height: 100vh;
  width: 100%; }
  .background__imagen__home::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-image: url("../imagenes/home.webp");
    background-position: top center;
    opacity: 0.8;
    z-index: -1; }

.background__imagen__actividades {
  position: relative;
  height: auto;
  width: 100%; }
  .background__imagen__actividades::before {
    content: '';
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-image: url("../imagenes/actividades.webp");
    background-position: 10% 100%;
    opacity: 0.8;
    z-index: -1; }

.background__imagen__precios {
  position: relative;
  height: auto;
  width: 100%; }
  .background__imagen__precios::before {
    content: '';
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-image: url("../imagenes/precios.webp");
    background-position: -220px 0px;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1; }

.background__imagen__contactos {
  position: relative;
  height: auto;
  width: 100%; }
  .background__imagen__contactos::before {
    content: '';
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-image: url("../imagenes/contactanos.webp");
    background-position: -220px 0px;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1; }

.background__items {
  border-radius: 20px;
  background: #000000;
  border: 2px solid #ffffff; }

.background__precios {
  border-radius: 20px;
  background: #ffffff;
  border: 2px solid #000000; }

.background__galeria {
  border: 2px solid #000000;
  width: 100%; }

footer {
  font-size: 14px;
  display: flex;
  background-color: #fe0416; }
  footer .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%; }
    footer .footer__container .footer__container__redes {
      background: #000000;
      padding: 20px; }
      footer .footer__container .footer__container__redes h1 {
        font-size: 18px;
        color: #fe0416;
        margin: 5px; }
      footer .footer__container .footer__container__redes h2 {
        font-size: 14px;
        margin: 5px; }
      footer .footer__container .footer__container__redes a {
        font-size: 30px;
        margin-right: 10px; }
  footer .footer__autor .pen {
    font-size: 30px;
    color: #ffffff; }
  footer .footer__autor h1 {
    font-size: 14px; }
  footer .footer__logo .logo2 {
    width: 50px;
    margin: 10px; }

/*--BRRA DE NAVEGAION--*/
nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo__container {
  z-index: 10; }
  .logo__container .logo {
    width: 100px;
    padding: 10px;
    margin-left: 15px;
    margin-top: 100px;
    background: black;
    border: 1PX solid black;
    border-radius: 20PX; }

.bar__btn {
  font-size: 35px;
  margin-right: 20px;
  cursor: pointer;
  z-index: 3;
  color: #ffffff;
  background-color: #fe0416;
  border-radius: 50%;
  padding: 0 6px 0 6px; }

.nav__menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 0px;
  background: #000000;
  text-align: center;
  transition: all 0.5s;
  z-index: 2; }
  .nav__menu li {
    display: none;
    line-height: 40px;
    margin: 40px 0;
    transition: all 0.5s; }
  .nav__menu a {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600; }
    .nav__menu a.active {
      color: #fe0416;
      transition: 0.5s; }
    .nav__menu a:hover {
      color: #fe0416;
      transition: 0.5s; }

#check {
  display: none; }
  #check:checked ~ .nav__menu {
    height: 100vh; }
    #check:checked ~ .nav__menu li {
      display: block; }

.main__conteiner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 210px; }
  .main__conteiner .banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background-color: #000000;
    width: 300px;
    height: 110px;
    z-index: 1; }
    .main__conteiner .banner__text .banner__uno {
      margin-top: 32px;
      margin-left: 17px;
      text-transform: uppercase;
      color: #fe0416;
      font-weight: 800;
      font-size: 40px;
      font-family: "Anton", sans-serif;
      letter-spacing: 15px;
      text-align: center; }
    .main__conteiner .banner__text .banner__dos {
      margin-bottom: 10px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 400;
      font-size: 40px;
      text-align: center;
      letter-spacing: 5px;
      transform: translate(0, -22px); }
  .main__conteiner .button__home {
    display: flex;
    justify-content: center;
    margin-top: 8px; }
    .main__conteiner .button__home .button1 {
      margin: 20px;
      padding: 10px;
      background-color: #000000;
      border-radius: 5px;
      font-weight: 800;
      text-transform: uppercase; }
      .main__conteiner .button__home .button1:hover {
        transform: scale(1.2) !important; }
    .main__conteiner .button__home .button2 {
      margin: 20px;
      padding: 10px;
      background-color: #fe0416;
      border-radius: 5px;
      font-weight: 800;
      text-transform: uppercase; }
      .main__conteiner .button__home .button2:hover {
        transform: scale(1.2) !important; }

.main__precios__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px; }
  .main__precios__container h1 {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #ffffff;
    background: #fe0416;
    padding: 10px 40px;
    border-radius: 20px;
    width: 200px;
    height: auto; }
  .main__precios__container .items__precios__container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center; }
    .main__precios__container .items__precios__container .items__precios {
      display: flex;
      width: 260px;
      height: 312px;
      flex-direction: column;
      align-items: center;
      margin: 80px; }
      .main__precios__container .items__precios__container .items__precios .h1__precios {
        margin-top: 20px;
        font-size: 18px;
        background: black;
        background: #fe0416; }
      .main__precios__container .items__precios__container .items__precios .h1__precios__gold {
        margin-top: 20px;
        font-size: 18px;
        background: black;
        background: linear-gradient(7deg, black 0%, #b7a027 50%, white 100%); }
      .main__precios__container .items__precios__container .items__precios p {
        text-align: center;
        margin-top: 5px;
        padding: 10px 40px;
        text-transform: lowercase;
        text-align: center;
        color: #000000; }
      .main__precios__container .items__precios__container .items__precios .estrellas {
        color: #000000;
        margin: 10px; }
        .main__precios__container .items__precios__container .items__precios .estrellas:hover {
          transform: scale(1.2); }

.main__actividades__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px; }
  .main__actividades__container h1 {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #ffffff;
    background: #fe0416;
    padding: 10px 40px;
    border-radius: 20px;
    width: 200px;
    height: auto; }
  .main__actividades__container .items {
    display: flex;
    flex-direction: column;
    margin: 10px; }
    .main__actividades__container .items .items__container {
      width: 200px;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px; }
      .main__actividades__container .items .items__container:hover {
        transform: scale(1.1) !important; }
      .main__actividades__container .items .items__container img {
        width: 80px;
        margin-top: 20px; }
      .main__actividades__container .items .items__container li {
        text-align: center;
        margin-top: 5px;
        padding: 10px 40px;
        height: 150px;
        width: 200px;
        text-transform: uppercase;
        text-align: center; }

.gallery__container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
  padding: 20px;
  grid-gap: 10px;
  align-items: center;
  background-color: #000000; }
  .gallery__container .item1 {
    grid-area: item1; }
  .gallery__container .item2 {
    grid-area: item2; }
  .gallery__container .item3 {
    grid-area: item3; }
  .gallery__container .item4 {
    grid-area: item4; }
  .gallery__container .item5 {
    grid-area: item5; }
  .gallery__container .item6 {
    grid-area: item6; }
  .gallery__container img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    background-size: contain; }

.main__contactos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px; }
  .main__contactos__container h1 {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #ffffff;
    background: #fe0416;
    padding: 10px 40px;
    border-radius: 20px;
    width: 200px;
    height: auto; }
  .main__contactos__container .input__container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; }
    .main__contactos__container .input__container label {
      display: none; }
    .main__contactos__container .input__container .input__contacto {
      margin: 5px;
      padding: 10px 40px 10px 40px;
      width: 100%; }
    .main__contactos__container .input__container .enviar {
      margin: 20px;
      padding: 10px 30px 10px 30px;
      background-color: #fe0416;
      border-radius: 5px;
      font-weight: 800;
      text-transform: uppercase;
      color: #ffffff; }
    .main__contactos__container .input__container .restablecer {
      margin: 20px;
      padding: 10px;
      background-color: #000000;
      border-radius: 5px;
      font-weight: 800;
      text-transform: uppercase;
      color: #ffffff; }
  .main__contactos__container .redes__container {
    display: flex;
    flex-direction: column;
    margin: 10px; }
    .main__contactos__container .redes__container .redes {
      width: 200px;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px; }
      .main__contactos__container .redes__container .redes:hover {
        transform: scale(1.1) !important; }
      .main__contactos__container .redes__container .redes .icono__redes {
        font-size: 50px;
        margin-top: 20px;
        color: red; }
      .main__contactos__container .redes__container .redes li {
        text-align: center;
        margin-top: 5px;
        padding: 5px 20px;
        height: 150px;
        width: 200px;
        font-size: 16px;
        text-align: center; }

.botonWhatsApp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px; }

.container-efecto-precio {
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.featured-img {
  background: #ffffff;
  width: 50%;
  position: relative; }
  .featured-img:hover:before {
    bottom: 2rem;
    right: 2rem; }
  .featured-img:hover:after {
    top: 2rem;
    left: 2rem; }
  .featured-img:before, .featured-img:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.3s ease; }
  .featured-img:before {
    background: #000000;
    opacity: 0.3;
    border-radius: 15px;
    bottom: 1rem;
    right: 1rem; }
  .featured-img:after {
    background: #fe0416;
    opacity: 0.3;
    border-radius: 15px;
    top: 1rem;
    left: 1rem; }

/* home - responsive */
/* home - responsive - tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .logo__container {
    z-index: 10; }
    .logo__container .logo {
      width: 100px;
      margin-left: 50px;
      margin-top: 100px; }
  nav {
    height: 100px; }
  .bar__btn {
    display: none; }
  .nav__menu {
    top: 50px;
    position: relative;
    height: 50px;
    width: 550px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background: #000000;
    transition: none;
    margin-right: 80px; }
  ul {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    text-align: center; }
  .nav__menu li {
    display: inline-block;
    line-height: 100px;
    transition: none;
    line-height: 0px;
    margin: auto; }
  .nav__menu li a {
    font-size: 18px;
    text-align: center; }
  footer {
    font-size: 16px;
    display: flex;
    background-color: #000000; }
    footer .footer__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%; }
      footer .footer__container .footer__container__redes {
        background: none;
        margin-left: 20px;
        width: 300px; }
        footer .footer__container .footer__container__redes h1 {
          font-size: 18px;
          color: #fe0416;
          margin: 5px; }
        footer .footer__container .footer__container__redes h2 {
          font-size: 14px;
          margin: 5px; }
        footer .footer__container .footer__container__redes a {
          font-size: 30px;
          margin-right: 10px; }
    footer .footer__autor {
      background-color: #fe0416;
      padding: 10px;
      width: 300px; }
      footer .footer__autor .pen {
        font-size: 40px; }
      footer .footer__autor h1 {
        font-size: 14px; }
    footer .footer__logo .logo2 {
      width: auto; }
  .background__imagen__actividades {
    position: relative;
    height: auto;
    width: 100%; }
    .background__imagen__actividades::before {
      content: "";
      position: fixed;
      background-position: 0px -50px;
      background-repeat: no-repeat; }
  .main__actividades__container .items {
    flex-direction: row; }
    .main__actividades__container .items .items__container {
      margin-right: 20px; }
  .gallery__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "item1 item1 item2" "item3 item4 item4" "item5 item5 item6"; }
  .background__imagen__precios::before {
    background-position: 0px 0px; }
  .background__imagen__contactos::before {
    background-position: 0px 0px; }
  .main__contactos__container .redes__container {
    flex-direction: row; }
    .main__contactos__container .redes__container .redes {
      margin-right: 20px; } }

/* home - responsive - full screem */
@media (min-width: 1200px) {
  .background__imagen__actividades {
    position: relative;
    height: 500px;
    width: 100%; }
    .background__imagen__actividades::before {
      content: "";
      position: fixed;
      background-position: 0px -50px;
      background-repeat: no-repeat; }
  .logo__container {
    z-index: 10; }
    .logo__container .logo {
      width: 100px;
      margin-left: 70px;
      margin-top: 100px; }
  nav {
    height: 100px; }
  .bar__btn {
    display: none; }
  .nav__menu {
    top: 50px;
    position: relative;
    height: 50px;
    width: 550px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background: #000000;
    transition: none;
    margin-right: 100px; }
  ul {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    text-align: center; }
  .nav__menu li {
    display: inline-block;
    line-height: 100px;
    transition: none;
    line-height: 0px;
    margin: auto; }
  .nav__menu li a {
    font-size: 18px;
    text-align: center; }
  footer {
    font-size: 16px;
    display: flex;
    background-color: #000000; }
    footer .footer__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%; }
      footer .footer__container .footer__container__redes {
        background: none;
        margin-left: 20px;
        width: 300px; }
        footer .footer__container .footer__container__redes h1 {
          font-size: 18px;
          color: #fe0416;
          margin: 5px; }
        footer .footer__container .footer__container__redes h2 {
          font-size: 14px;
          margin: 5px; }
        footer .footer__container .footer__container__redes a {
          font-size: 30px;
          margin-right: 10px; }
    footer .footer__autor {
      width: 300px;
      background-color: #fe0416;
      padding: 10px; }
      footer .footer__autor .pen {
        font-size: 40px; }
      footer .footer__autor h1 {
        font-size: 14px; }
    footer .footer__logo .logo2 {
      width: auto; }
  .background__imagen__actividades {
    position: relative;
    height: auto;
    width: 100%; }
    .background__imagen__actividades::before {
      content: "";
      position: fixed;
      background-position: 0px -50px;
      background-repeat: no-repeat; }
  .main__actividades__container .items {
    flex-direction: row; }
    .main__actividades__container .items .items__container {
      margin-right: 20px; }
  .gallery__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "item1 item1 item2" "item3 item4 item4" "item5 item5 item6"; }
  .background__imagen__precios::before {
    background-position: 0px 0px; }
  .background__imagen__contactos::before {
    background-position: 0px 0px; }
  .main__contactos__container .redes__container {
    flex-direction: row; }
    .main__contactos__container .redes__container .redes {
      margin-right: 20px; } }
