.main__actividades__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  h1 {
    font-size: 18px;
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid $color-white;
    background: $color-red;
    padding: 10px 40px;
    border-radius: 20px;
    width: 200px;
    height: auto;
  }

  .items {
    display: flex;
    flex-direction: column;
    margin: 10px;

    .items__container {
      width: 200px;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;

      &:hover {
        transform: scale(1.1) !important;
      }

      img {
        width: 80px;
        margin-top: 20px;
      }
      li {
        text-align: center;
        margin-top: 5px;
        padding: 10px 40px;
        height: 150px;
        width: 200px;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}



.texto{
  display: flex;
  flex-direction: column;
  background: $color-black;
  margin: 20px 20px 20px 40px   ;


  h1{
    text-align: center;
    font-size: 25px;
    margin: 10px;
  

  }
  p{
    text-align: center;
    text-align: justify;
    font-size: 18px;
    margin: 20px;

  }
}