
/*--BRRA DE NAVEGAION--*/

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  
}

.logo__container {
  z-index: 10;
  
  .logo {
    width: 100px;
    padding: 10px;
    margin-left: 15px;
    margin-top: 100px;
    background: black;
    border: 1PX solid black;
    border-radius: 20PX;

    
  }
}

.bar__btn {
  font-size: 35px;
  margin-right: 20px;
  cursor: pointer;
  z-index: 3;
  color: $color-white;
  background-color: $color-red;
  border-radius: 50%;
  padding:0 6px 0 6px  ;
  
 

}

.nav__menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 0px;
  background: $color-black;
  text-align: center;
  transition: all 0.5s;
  z-index: 2;
  

  li {
    display: none;
    line-height: 40px;
    margin: 40px 0;
    transition: all 0.5s;
  }
  a {
    color:$color-white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;

    &.active {
      color:$color-red;
      transition: 0.5s;
    }

    &:hover {
      color: $color-red;
      transition: 0.5s;
    }
  }
}

#check {
  display: none;
  &:checked ~ .nav__menu {
    height: 100vh;
    li {
      display: block;
    }
  }
}
